/* @import url('../font/Drone-Ranger-Pro-Font/DroneRangerPro-Regular.otf'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background: url(../public/bg-image.svg);
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --Primary: #da458f;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
  font-family: Drone Ranger Pro;
}

.nav-container {
  @apply bg-nav-bg/70 h-[84px] flex justify-center items-center;
}

.nav-content {
  @apply flex justify-between items-center max-w-[1680px] w-full px-6;
}

.common-button {
  @apply flex justify-center items-center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(
    --Primary,
    linear-gradient(91deg, #da458f -6%, #da34dd 113.05%)
  );
  border-radius: 4px;
  box-shadow: 0px 0px 50px 0px rgba(187, 75, 255, 0.32);
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
}

.common-button:hover {
  background: linear-gradient(
    91deg,
    rgba(218, 69, 143, 0.4) -6%,
    rgba(218, 52, 221, 0.4) 113.05%
  );
}

.common-form-input {
  @apply rounded-[4px] border-[#89888B] px-4 py-2 outline-none w-full bg-transparent border-[1px];
}

.connect-button {
  width: 160px;
  height: 40px;
  padding: 8px 20px 8px 21px;
}

.subcribe-button {
  width: 168px;
  height: 44px;
  padding: 10px 49px;
}

.footer-container {
  @apply w-full flex items-center flex-col h-[552px] p-[60px];
}
.footer-content {
  @apply flex items-start justify-between gap-5 max-w-[1600px] pb-[60px] sm:flex-col;
}

.footer__content-name {
  @apply uppercase text-[20px] font-bold mb-5;
}

.footer-contact__link {
  padding-left: 34px;
  background-repeat: no-repeat;
  background-size: 24px auto;
  background-position: 0 center;
}

.footer-contact__link.number {
  background-image: url(../public/phone-icon.svg);
}

.footer-contact__link.email {
  background-image: url(../public/email-icon.svg);
}

.footer-policy {
  @apply flex justify-between items-center pt-[40px] w-full;
}

.card {
  @apply bg-card-bg/60 p-3 rounded-[10px] w-full;
}

.card-info {
  @apply flex justify-between items-center mb-3;
}
